.left-container {  /* 본문 텍스트 박스의 위치 설정 */
    display: flex;
    align-items: flex-start;
    width: 100;
    padding-top: 0px;
    padding-left: 15%;
  }
  
  .large-left-textbox {  /* 본문 텍스트 박스 내 설정 */
    width: 400px;
    height: 500px;
    font-size: 16px;
    padding: 10px;
    resize: none;
    margin-top: 20px;
  }