.center-container {  /* 입력 텍스트 박스의 위치 설정 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px;
  }
  
  .large-input {  /* 입력 텍스트 박스 내 설정 */
    width: 35%;
    height: 350px;
    font-size: 16px;
    padding: 10px;
    resize: none;
    margin-top: 20px;
  }