.App-header {
  /* 헤더 위치 설정 */
  font-size: calc(10px + 1vmin);
  text-align: left;
  margin-left: 5%;
}

.mainpage-textbox-container {
  height: 100%;
  margin-top: calc(4vh);
}

.mainpage-button-container {
  /* 버튼 위치 설정 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
