.result-area {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.answer-input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  resize: none;
  text-align: left;
  margin-bottom: 20px;
}

.input {
  margin-left: 30px;
}

.question-area {
  display: flex;
  justify-content: center;
}

.back-button {
  float: right;
  position: absolute;
  right: calc(6vw);
  top: calc(15vh);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px); /* Adjust the amount of shake as needed */
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px); /* Adjust the amount of shake as needed */
  }
}