.App {
  text-align: center;
  padding: 20px;
}

.center-container {  /* 텍스트 박스의 위치 설정 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 40px);
  padding-top: 100px;
}

.large-input {  /* 텍스트 박스 내 설정 */
  width: 35%;
  height: 350px;
  font-size: 16px;
  padding: 10px;
  resize: none;
  margin-top: 20px;
}